<div class="rounded p-1.5 border-l-2 border-purple-600 bg-purple-50 mb-2 overflow-auto">
  <p class="mb-px text-xs font-normal text-gray-900"><%= appointment[:title] %></p>
  <p class="text-xs font-semibold text-purple-600"><%= appointment[:doctor].full_name %> </p>
</div>