<%= render partial: "/admin/shared/sidebar", locals: {tab: 'doctors'} %>
<div class="mt-20 sm:ml-64">
  <div class="px-4 py-1 mb-10">
    <ul class="flex items-center gap-5">
      <li>
        <a href="/admin/doctors">
          <button class="hover:bg-secondary py-2.5 pr-7 pl-5 rounded-md flex items-center gap-2 text-base font-semibold text-white transition-all duration-300 bg-primary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
            Back
          </button>
        </a>
      </li>
      <li class="flex-1 ">
        <h6 class="text-xl font-semibold leading-8 text-gray-900">Create doctor</h6>
      </li>
    </ul>
  </div>
  <div >
    <div class="px-4 py-4 mx-4 bg-white border-2 rounded-lg ">
      <%= form_with model: @doctor, url: { action: 'create' }, class: "" do |f| %>
        <%=render partial: 'form', locals:{f: f}%>
        <div class="w-full col-span-2 mt-6">
          <%= f.submit "Create Doctor", class: "w-full bg-primary text-white font-semibold py-2 px-4 rounded-md hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>