<%# Alert component that appears at the bottom right of the screen %>
<div data-controller="alert" class="fixed z-50 max-w-sm p-4 text-white rounded-lg shadow-lg bottom-4 right-4 <%= flash[:danger] ? 'bg-red-500' : 'bg-primary' %> overflow-hidden">
  <div class="absolute bottom-0 left-0 right-0 h-1 bg-white/20">
    <div class="h-full bg-white/50 animate-progress"></div>
  </div>
  <div class="flex items-center justify-between">
    <span><%= message %></span>
    <div class="flex items-center">
      <button class="p-1 hover:bg-gray-100 hover:text-gray-700 rounded-lg" data-action="click->alert#close">
        <%= render "admin/shared/svg", name: 'close' %>
      </button>
    </div>
  </div>
</div>
