<div class="flex mt-3">
  <%= f.label :diagnosis, class: "hidden" %>
  <%= f.select :diagnosis_id, 
  options_for_select(@diagnosis.map { |d| [d.name, d.id] }, f.object.diagnosis_id),
  {},
  class: " flex-1 block px-4 py-2 mt-1 border border-gray-300 rounded-md 2xl:mt-2 focus:ring-primary focus:border-primary sm:text-sm 2xl:text-lg" %>
  <%= f.hidden_field :tooth_number %>
  <%= submit_tag "save", class: "text-primary text-md 2xl:text-lg transition-all duration-300 ml-2 2xl:ml-0 hover:text-secondary rounded-md mt-1 2xl:mt-2 px-4" %>
</div>
