<div class="flex mt-3">
  <%= f.label :diagnosis, class: "hidden" %>
  <%= f.select :diagnosis_id, 
  options_for_select(@diagnosis.map { |d| [d.name, d.id] }, f.object.diagnosis_id),
  {},
  class: " flex-1 block px-4 py-2 mt-1 border border-gray-300 rounded-md 2xl:mt-2 focus:ring-primary focus:border-primary sm:text-sm 2xl:text-lg" %>
  <%= f.hidden_field :tooth_number %>
  <%= submit_tag "+", class: "px-4 py-2 text-primary text-lg font-bold transition-all duration-300 hover:text-secondary" %>
</div>
