<input  type="text" 
  autocomplete="off"
  value="<%= record.health_condition.name %>"
  class="block w-full col-span-5 mt-1 text-sm border-gray-300 rounded-md shadow-sm 2xl:text-lg focus:border-gray-300 focus:ring-primary disabled:opacity-50"
  disabled
  data-patient-health-records-target="conditionInput"
/>
<input type="text"
  value="<%= record.value %>"
  class="block w-full col-span-5 mt-1 text-sm border-gray-300 rounded-md shadow-sm 2xl:text-lg focus:border-gray-300 focus:ring-primary disabled:opacity-50"
  disabled
  data-patient-health-records-target="conditionValueInput"
/>
<div class="flex justify-end col-span-2 gap-4 mt-1 text-center">
  <%= link_to admin_patient_health_record_path(id: record.id, patient_id: record.patient.id),
      data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"},
      class: "flex items-center gap-2 text-sm justify-center w-full px-1 text-white bg-red-400 rounded-md  lg:px-4 hover:bg-red-700 " do 
  %>
  <%= render "admin/shared/svg", name: 'delete' %>
  <span class="items-center hidden text-sm leading-none sm:inline-flex 2xl:text-lg">Delete</span>
<% end %>
</div>
